.filled {
    color: #fde047
}
.empty {
    color: #fde047
}
.recipe .head {
    width: 100vw;
    height: 30vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.recipe .head .left-head {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #737178;
}

.recipe-title {
    text-align: center;
    height: auto;
}

.recipe .head .right-head {
    width: 50%;
}

.recipe .head .right-head img {
    max-height: 30vw;
}

.rating {
    width: 150;
    margin: 0 auto 0 auto;
}

.star {
    display: inline-block;
} 
.root {
    margin: auto;
    padding: 16px;
    max-width: 800px;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .ingredient {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .instruction {
    margin-bottom: 24px;
  }
  
  .title {
    display: flex;
    align-items: center;
    color: var(--primary-color);
  }
  
  .comments {
    margin-bottom: 24px;
  }
  
  .comments h2 {
    color: var(--primary-color);
  }
  
  .comments textarea {
    width: 100%;
    height: 80px;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid var(--secondary-color);
  }
  
  .comments button {
    margin-top: 8px;
    background-color: #fde047;
    color: var(--text-color);
  }

  .subtitle {
    color: var(--primary-color);
  }

  .body2 {
    color: var(--primary-color)
  }
  
  /* Apply dark theme styles */
  .dark .root {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .dark .title {
    color: var(--secondary-color);
  }
  
  .dark .starIcon {
    color: var(--primary-color);
  }
  
  .dark .comments h2 {
    color: var(--primary-color);
  }
  
  .dark .comments textarea {
    border: 1px solid var(--secondary-color);
  }
  
  .dark .comments button {
    background-color: gainsboro;
    color: #333;
  }

  .dark .comments button:hover {
    background-color: aquamarine;
  }

  .dark .subtitle {
    color: var(--secondary-color);
  }

  .dark .body2 {
    color: var(--secondary-color);
  }
  